{% extends 'base.html.twig' %}

{% block title %}Setup 2FA{% endblock %}

{% block body %}
<h1>Setup Two-Factor Authentication</h1>
<p>Click the button below to setup 2FA for your account.</p>
<form action="{{ path('2fa_setup') }}" method="post">
    <button type="submit">Setup 2FA</button>
</form>
{% endblock %}
