{% extends 'base.html.twig' %}

{% block title %}2FA Login{% endblock %}

{% block body %}
<form action="{{ path('2fa_login') }}" method="post">
    {% if qrCodeUrl %}
        <p>Scan this QR code with your authenticator app:</p>
        <img src="{{ qrCodeUrl }}" alt="QR Code">
    {% endif %}
    <label for="code">2FA Code:</label>
    <input type="text" id="code" name="code" required autofocus>
    <br>
    <button type="submit">Validate 2FA</button>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
</form>
{% endblock %}
