{% extends 'base.html.twig' %}

{% block title %}Espace Professionnel{% endblock %}

{% block body %}
<h1>Bienvenue dans votre espace professionnel</h1>
<p>Contenu de l'espace professionnel...</p>
{% endblock %}
